.bg-06ad8c{
  background-color: #06ad8c;
}
.modal-header .close {
  padding: 1.5rem 2rem;
}
.close {
  float: right;
  font-size:2.5rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  margin-right: 20px;
  font-weight: 500 !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.modal-dialog {
  max-width: 350px !important;
  margin: 1.75rem auto;
}
.shadow-input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.form-control:focus {
  color: #495057 ;
  background-color: #fff;
  border-color: none !important;
  outline: 1 !important;
  box-shadow: none;
}
input::placeholder,textarea::placeholder {
  color: #000 !important;
  font-weight: 500 !important;
}
