*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}

.quick-links>a{
display: block;
}
.border-address{
    width: 10%;
    margin-top:11px; 
    border-top: 2px solid gray;
}
.pos-z-index{
    position: relative;
    z-index: +1;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .75rem + 2px);
   
}