*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
footer{
    
}
.quick-links>a{
display: block;
}