* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.w-15 {
  width: 25px;
}
.bg-bc2026 {
  background-color: #bc2026;
}
.w-50-p {
  width: 25px;
}
.bg-90191c {
  background-color: #90191c;
}
.cl-bc2026 {
  color: #bc2026 !important;
}
.custom-button {
  border: 1px solid #90191c;
}
.custom-button-1 {
  border: 2px solid #4d4d4d;
  border-top: 0px;
}
.w-41{
  width: 41px;
}
.w-40 {
  width: 40%;
}
.border-bottom-bc2026 {
  border-bottom: 2px solid #bc2026;
}
.border-bc2026 {
  border-bottom: 2px solid #bc2026;
}
#tabs-bg li a.active div{
  background-color: #bc2026 !important;
  color: #fff !important;

}
.h-4 {
  height: 3px;
}
.w-78 {
  width: 78%;
}
.inner-chevron {
  border-radius: 50px;
  width: 20px !important;
  height: 20px !important;
  border: 20px !important;
  background-color: #92191c !important;
}
.bg-img-1 {
  background-image: url("/assets/images/bg-1.png");
  height: 600px;
  background-size: cover;
  width: 100%;
}
.bg-2 {
  background-image: url("/assets/images/bg-img-2.png");
  height: 390px;
  background-size: cover;
  width: 100%;
  position: relative;
}
.bg-123 {
  background-image: url("/assets/images/bg-123.png");
  height: 980px;
  background-size: cover;
  width: 100%;
  position: relative;
}
.bg-4{
  background-image: url("/assets/images/Rectangle + Image + Path.png") ;
  height:880px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.rounded-12{
    border-radius: 8px;
}
.small-bar{
  width: 40px;
  height: 3px;
}
.exper{
  padding-top: 6.5rem;
  margin-left: 16px;
}
.pt-10{padding-top: 10rem;}
.cl-4d4d4d {
  color: #4d4d4d;
}
.w-80 {
  width: 50px;
  /* height: 65px; */
}
.w-65 {
  width: 56px;
  /* height: 61px; */
}
.main-div-width-content {
  width: fit-content;
  margin: auto;
}
.w-10{
    width: 90px;
}
.p-a {
  position: absolute;
  top: 70px;
  z-index: +1;
}
@media only screen and (min-width: 1224px) {
  .main-padding {
    padding-left: 150px;
    padding-right: 150px;
  }
  .h-50-p {
    height: 50px;
  }
  .pt-20 {
    padding-top: 20rem;
    padding-right: 12rem;
  }
  .main-left-padding{
      padding-left: 190px;
  }
}
*{
  padding: 0;
  margin: 0;
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: none;
  color: #fff;
}

.quick-links>a{
display: block;
}
.border-address{
  width: 10%;
  margin-top:11px; 
  border-top: 2px solid gray;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.5em + .75rem + 2px);
 
}
.path1{
  width: 140px;
  height: 3px;
}